<% title "Forum" %>

<%- content_for :subnav do -%>
  <div class="header__subnav forum__subnav">
    <%= link_to("New Topic", "#new-topic") %>
    <div class="search">
      <%= label_tag "query", "Search" %>
      <%= text_field_tag "query", params[:query], :class => "live-search", "data-action" => url_for(:controller => "topics", :action => "search"), "data-target" => ".post-list", :placeholder => "Topic Subject" %>
    </div>
  </div>
<%- end -%>

<div class="post-list">
  <%= render partial: "topic_listing", collection: @topics, as: :topic %>
</div>

<%= will_paginate @topics, :previous_label => "Previous", :next_label => "Next", :inner_window => 2 %>

<a name="new-topic"></a>
<% if current_user %>

  <h2>New Topic</h2>

  <%= form_for @topic do |f| %>
    <%= f.error_messages %>

    <%= f.label :title, "Subject" %>
    <%= f.text_field :title %>

    <%= f.fields_for :posts do |post| %>
      <%= post.hidden_field :body, :id => "post-body-input" %>
      <trix-editor class="trix-content" input="post-body-input"></trix-editor>
      <%= post.hidden_field :user_id, :value => current_user.id %>
    <% end %>

    <div class="post-actions">
      <%= f.submit "Post Topic", :class => "button post-actions__button" %>
      <div class="post-actions__hint">
        <strong>Pro-tip:</strong> You can add images by dragging them onto the post form!
      </div>
    </div>
  <% end %>

<% else %>

  <div class="forum-signup">
    <h2>New Topic?</h2>
    <p>Log in and start one!</p>
    <%= render :partial => "users/buttons" %>
  </div>

<% end %>
