<% title "Topics" %>

<div id="forum">
  <% for topic in @topics %>
  	<div class="topic_teaser">
    <span class="topictop"><strong class="subject"><%= link_to topic.title, topic %></strong></span>
    <span class="topicmeta">
    <strong class="numposts"><%= topic.posts.length %> posts</strong>, started <em class="startdate"><%= time_ago_in_words(topic.posts.first.created_at) %> ago</em> 
    by <em class="author"><%= link_to topic.users.first.name, topic.users.first %></em>
    </div>
  <% end %>
</div>

<h2><%= will_paginate @topics %></h2>

<% if current_user %>
<h2>New post</h2>
<% form_for @topic do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <% f.fields_for :posts do |post| %>
    <%= post.hidden_field :user_id, :value => current_user.id %><br />
    <%= post.label :body %><br />
    <%= post.text_area :body %>
  <% end %>
</p>
<p><%= f.submit %></p>
<% end %>
<% end %>