<% title "Forum" %>

<div id="forum">
  <% for topic in @topics %>
  	<div class="topic_teaser">
    <span class="topictop"><h3><%= link_to topic.title, topic %></h3></span>
    <span class="topicmeta">
    <strong class="numposts"><%= topic.posts.length %> posts</strong>, last posted <em class="startdate"><%= time_ago_in_words(topic.posts.last.created_at) %> ago</em> 
    by <em class="author"><%= link_to topic.posts.last.user.name, topic_path(topic, :anchor => topic.posts.last.id) %></em>
    </div>
  <% end %>
</div>

<h2><%= will_paginate @topics %></h2>

<% if current_user %>
<div id="topic-form">
<h2>New Topic</h2>
	<% form_for @topic do |f| %>
	  <%= f.error_messages %>
	  <%= f.label :Subject %>
	  <%= f.text_field :title %>
	  <% f.fields_for :posts do |post| %>
	    <%= post.hidden_field :user_id, :value => current_user.id %>
	    <%= post.text_area :body, :class => "mceEditor" %>
	  <% end %>
	<%= f.submit "Post Topic", :class => "button" %>
</div>
<% end %>

<% else %>

<div id="signup">
<h2>New Topic?</h2>
<p>Log in and start one!</p>

<%= link_to "Sign In", login_path %>
<%= link_to "Create Account", signup_path %>
</div>

<% end %>