<% title @topic.title %>

<h1 class="topic-title">
  <%= @topic.title %>
</h1>

<% for post in @topic.posts.visible do %>
  <div class="post">
    <%= render partial: "users/avatar", locals: { user: post.user } %>

    <div class="post__content">
      <a name="<%= post.id %>"></a>
      <a name="post-<%= post.id %>"></a><!-- legacy anchor tag -->

      <div class="post__header">
        <strong class="author"><%= link_to post.user.name, post.user %></strong>
        <em class="postmeta"><%= link_to time_ago_in_words(post.created_at) + ' ago', topic_path(:anchor => post.id) %></em>
      </div>
      <div class="trix-content">
        <%= raw auto_link(post.body, :html => { :target => '_blank' }, :sanitize => false) %>
      </div>

      <% if current_user %>
        <% if current_user.login == post.user.login || is_admin %>
          <ul class="post__footer">
            <li><%= link_to "edit", edit_post_path(:id => post.id) %> |</li>
            <li><%= link_to "delete", post, :confirm => 'Are you sure?', :method => :delete %></li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_user %>

  <h2>New Post</h2>

  <%= form_for @topic.posts.build do |f| %>
    <%= f.error_messages %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :postable_id %>
    <%= f.hidden_field :postable_type %>
    <%= f.hidden_field :body, :id => "post-body-input" %>

    <trix-editor class="trix-content" input="post-body-input"></trix-editor>

    <div class="post-actions">
      <%= f.submit "Post", :class => "button post-actions__button" %>
      <div class="postmeta post-actions__hint">
        <strong>Pro-tip:</strong> You can add images by dragging them onto the post form!
      </div>
    </div>
  <% end %>

<% else %>

  <div class="forum-signup">
    <h2>New Post?</h2>
    <p>Log in to post on this topic!</p>
    <%= render :partial => "users/buttons" %>
  </div>

<% end %>

<% if current_user && current_user.login == "matt" %>
  <p>
    <%= link_to "Edit", edit_topic_path(@topic) %> |
    <%= link_to "Delete", @topic, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "View All", topics_path %>
  </p>
<% end %>
