<% title @topic.title %>

<h1 class="topic-title">
  <%= @topic.title %>
</h1>

<% for post in @topic.posts.visible do %>
  <div class="topic-post-layout">
    <%= render partial: "users/avatar", locals: { user: post.user } %>

    <div class="post">
      <div class="post__header">
        <a name="<%= post.id %>"></a>
        <a name="post-<%= post.id %>"></a><!-- legacy anchor tag -->
        <strong class="author"><%= link_to post.user.name, post.user %></strong>
        <em><%= link_to time_ago_in_words(post.created_at) + ' ago', topic_path(:anchor => post.id) %></em>
      </div>

      <div class="trix-content">
        <%= raw auto_link(post.body, :html => { :target => '_blank' }, :sanitize => false) %>
      </div>

      <% if current_user.login == post.user.login || is_admin %>
        <ul class="post__footer">
          <li><%= link_to "Edit", edit_post_path(:id => post.id) %></li>
          <li><%= link_to "Delete", post, :confirm => 'Are you sure?', :method => :delete %></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_user %>

  <h2>New Post</h2>

  <%= form_for @topic.posts.build do |f| %>
    <%= f.error_messages %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :postable_id %>
    <%= f.hidden_field :postable_type %>
    <%= f.hidden_field :body, :id => "post-body-input" %>

    <trix-editor class="trix-content" input="post-body-input"></trix-editor>

    <div class="post-actions">
      <%= f.submit "Post", :class => "button post-actions__button" %>
      <div class="post-actions__hint">
        <strong>Pro-tip:</strong> You can add images by dragging them onto the post form!
      </div>
    </div>
  <% end %>

<% else %>

  <h2>New Post?</h2>
  <p>Log in to post on this topic!</p>
  <%= render :partial => "users/buttons" %>

<% end %>

<% if is_admin %>
  <p>
    <%= button_to "Delete Topic", { action: "destroy", id: @topic.id }, method: :delete, form_class: "button_to button_to--destructive", data: { confirm: "Are you sure?" } %>
  </p>
<% end %>
