<%= form.label "Username" %>
<%= form.text_field :login %>

<%= form.label :email %>
<%= form.email_field :email %>

<%= form.label :password, form.object.new_record? ? nil : "Change Password" %>
<%= form.password_field :password %>

<fieldset>
  <legend>
    <%= @user.avatar_file_name? ? "Change Profile Photo" : "Upload Profile Photo" %>
  </legend>
  <%= avatar_image(@user) %>

  <div class="avatar-fields">
    <%= form.file_field :avatar, :size => 15 %>
  </div>
</fieldset>

<fieldset>
  <legend>Optional Fields</legend>

  <%= form.label "Website" %>
  <%= form.text_field :url %>

  <%= form.label :location %>
  <%= form.text_field :location %>

  <%= form.label :occupation %>
  <%= form.text_field :occupation %>

  <%= form.label :interests %>
  <%= form.text_area :interests %>
</fieldset>

<div style="display:none">
  <%= label_tag :dummy, "Please leave this blank" %>
  <%= text_field_tag :dummy %>
</div>
