<% title @user.login %>

<div class="user">
  <div class="user__avatar-container">
    <%= render partial: "users/avatar", locals: { user: @user } %>

    <% if is_current_user(@user) %>
      <p>&larr; <%= link_to "Edit Profile", edit_user_path(current_user) %></p>
    <% end %>
  </div>

  <div class="user__content">
    <h1><%= @user.login %></h1>

    <div class="user__content__details">
      <% if @user.url? %>
        <p><%= link_to @user.url, @user.url %></p>
      <% end %>

      <p>
        <%= raw user_tagline %>
      </p>

      <% if @user.interests? %>
        <p>Ask me about <strong><%= @user.interests %></strong>.</p>
      <% end %>

      <% if is_admin %>
        <p>
          <%= button_to "Delete User", @user, :method => :delete, form_class: "button_to button_to--destructive", data: { confirm: "Are you sure? This will delete this user and all their forum posts." } %>
          Deletes user and all their forum posts. Great for spammers!
        </p>
      <% end %>
    </div>

    <% unless @user.posts.blank? %>
      <h2>Activity</h2>

      <ul>
        <%- @user.posts.group_by(&:postable).each do |postable, posts| -%>
          <li class="user__content__post">
            <strong><%= title_or_venue(posts.first) %></strong>
            <em>
              <%- if postable.posts.first == posts.first -%>
                started topic <%= nice_date(posts.first.created_at) %></em>
                <span class="callout">first!</span>
              <%- else -%>
                posted <%= nice_date(posts.last.created_at) %>
              <%- end -%>
            </em>
          </li>
        <%- end -%>
      </ul>
    <% end %>
  </div>
</div>
