<% title @user.login %>

<div class="user">
  <div class="user__avatar-container">
    <%= render partial: "users/avatar", locals: { user: @user } %>

    <% if @user.login === current_user.login %>
      <p>&larr; <%= link_to "Edit Profile", edit_user_path(current_user) %></p>
    <% end %>
  </div>

  <div class="user__content">
    <h1><%= @user.login %></h1>

    <div class="user__content__details">
      <% if @user.url? %>
        <p><%= link_to @user.url, @user.url %></p>
      <% end %>

      <p>
        <%= raw user_tagline %>
      </p>

      <% if @user.interests? %>
        <p>Ask me about <strong><%= @user.interests %></strong>.</p>
      <% end %>

      <% if is_admin %>
        <p>
          <strong><%= link_to "Nuke this user.", nuke_user_path(@user) %></strong>
          Deletes user and all their forum posts. Great for spammers!
        </p>
      <% end %>
    </div>

    <ul>
      <%- for post in @user.posts do -%>
        <li class="user__content__post">
          <strong><%= title_or_venue(post) %></strong>
          <em>
            <%- if post.postable.posts.first == post -%>
              started topic <%= time_ago_in_words(post.created_at) %> ago</em> <span class="callout">first!</span>
            <%- else -%>
              posted <%= time_ago_in_words(post.created_at) %> ago
            <%- end -%>
          </em>
        </li>
      <%- end -%>
    </ul>
  </div>
</div>
