<% title '"My Hometown" Video Submission Form' %>

<h1 style="text-align:center;">"My Hometown" Video Submission Form</h1>

<% if !current_user %>
	<div style="width:400px; margin:auto;">
		<p>Please create an account or sign in before uploading your video submission. Thanks!</p>
		<%= render :partial => 'users/buttons' %>
	</div>

<% else %>
	<div class="narrow-content">
		<%= form_for(@video, :html => { :multipart => true, :class => 'chunky-form' }) do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
	
			<%= f.label :hometown %>
			<%= f.text_field :hometown %>
	
			<%= f.label :description %>
			<%= f.text_area :description, :style => 'width:350px;' %>
	
			<div id="optional-fields" style="width:350px; margin-top:1em;">
				<%= f.label :clip, "Video File" %>
				<%= f.file_field :clip %>
			</div>
	
			<%= f.submit "Submit Video" %>
		</div>
	<% end %>
<% end %>
