<% title 'Contact & Press Info' %>

<h1>Contact & Press Info</h1>

<h4>Contacts</h4>
<dl class="contacts group">
  <div class="contact">
    <dt>Management:</dt>
    <dd><a href="mailto:management@blitzentrapper.net">Danny Goldberg & Brady Brock for GoldVE</a></dd>
  </div>
  <div class="contact">
    <dt>Legal:</dt>
    <dd>Gillian Bar, Esq.</dd>
  </div>
  <div class="contact">
    <dt>US Booking:</dt>
    <dd><a href="http://billions.com/blitzentrapper">The Billions Corporation</a></dd>
  </div>
  <div class="contact">
    <dt>International Booking:</dt>
    <dd><a href="http://www.freetradeagency.co.uk">Free Trade Agency</a></dd>
  </div>
</dl>

<h4>High Resolution Press Images</h4>

<p>All photos by Tyler Kohlhoff</p>

<ul class="press-images">
  <li>
    <%= link_to image_tag('http://files.blitzentrapper.net/press/blitzen1-thumb.jpg', :width => 370, :height => 264, :alt => 'Thumbnail for Blitzen Trapper Press Photo #1 by Tyler Kohloff'), 'http://files.blitzentrapper.net/press/blitzen1-hi_res.jpg' %>
  </li>
  <li class="last">
    <%= link_to image_tag('http://files.blitzentrapper.net/press/blitzen2-thumb.jpg', :width => 370, :height => 264, :alt => 'Thumbnail for Blitzen Trapper Press Photo #2 by Tyler Kohloff'), 'http://files.blitzentrapper.net/press/blitzen2-hi_res.jpg' %>
  </li>
  <li>
    <%= link_to image_tag('http://files.blitzentrapper.net/press/blitzen3-thumb.jpg', :width => 370, :height => 264, :alt => 'Thumbnail for Blitzen Trapper Press Photo #3 by Tyler Kohloff'), 'http://files.blitzentrapper.net/press/blitzen3-hi_res.jpg' %>
  </li>
  <li class="last">
    <%= link_to image_tag('http://files.blitzentrapper.net/press/blitzen4-thumb.jpg', :width => 370, :height => 264, :alt => 'Thumbnail for Blitzen Trapper Press Photo #4 by Tyler Kohloff'), 'http://files.blitzentrapper.net/press/blitzen4-hi_res.jpg' %>
  </li>
  <li>
    <%= link_to image_tag('http://files.blitzentrapper.net/press/blitzen-american_goldwing-thumb.jpg', :width => 370, :height => 370, :alt => 'Thumbnail for American Goldwing Cover Art'), 'http://files.blitzentrapper.net/press/blitzen-american_goldwing-hi_res.jpg' %>
  </li>
</ul>

<article class="bio">
  <h4>Bio</h4>

  <p>I am indistinguishable from my memories, inseparable from this place I've always lived.  Songs made of rhymes and these rhymes like maps to the bizarre hinterlands of what we know and love.  This is Blitzen Trapper's seventh record for the books, another bizarre string of tales and touchstones, more beats and banjos by far than anything to date, since, well we figured a straight line between two points is preferable.  At this point the road is home and home is home, which is to say there is no home left for me because at a certain point you can never go home as the old adage seems to more than imply.</p>

  <p>The pac-northwest is a place of synthesis, a backwater for slag and leftovers, culturally speaking, and <em>VII</em> like this, like all my records it's a synthesis of a whole mess of things.  Our music, lovingly called 'Rocky Mountain Whoop-ass', a term itself coined by close associates to refer to what we play though our particular mountains are a more volcanic spur of the Rockies and so more solitary, brings together the strut, the twist, the headbang and the hillbilly tap, though in some cases it merely makes people want to drink or procreate.  I feel confident this genre will, if not become de facto will perform as an at least marginally amusing handle for music writers with any interest.</p>

  <section class="oregon">
    <p>Memories of Oregon:</p>
    <p>The JD drinking, robotripping, dope smoking experimentation of youth.  And even further back the country gospel tabernacle meetings out in Brooks, falling asleep as a child on hard wood benches while the country band plays <em>Just A Closer Walk With Thee</em>, the prayers of the saints rising for all us wandering youth.</p>
    <p>Each of these songs starts from a small place, like a headwaters, a remembrance and then widens into a song.  For instance, that old wreck of a shack buried in evergreen and murky darkness at the bend in the road up on Jackson Hill where we used to drink and never failed to give me a chill driving by in the old Impala for it's implacable mystery, where <em>Feel the Chill</em> takes place.</p>
    <p><em>Drive on Up</em>, it seems you're always driving on up to something, into the mountains to see a girlfriend above the reservoir where she lives in a single wide with her mom and a cougar stalks us at fifty yards through the brush, she says to bang sticks but never look it in the eye.</p>
    <p>A hundred degree day out at the John Day, walking through the high desert in sneakers coming on a cow skull and then the rest of its bleached bones spread for near on a mile and realizing the thirst of the creatures in these hills.  And I'm no different.  And you have <em>Thirsty Man</em>, where love like rain falls in the wasteland and slips through the fingers for love is a thing that cannot be held but only felt and released.</p>
  </section>

  <p>And of course there are those songs I keep writing over and over again, <em>Ever Loved Once</em> with all its regrets and tragic lost love, <em>Don't be a Stranger</em> its hopeful cousin but they all still point to the same worn out place in the heart of old E. Earley.  And hey, we all have that place, that worn spot on the heart like the chew canister circle on the back pocket of blue jeans, or that one shred in the green felt of the table where you ground the stick in too hard for drinking.  That one love that got away or that one you watched leave driving slow in moonlight over the gravel at night cause the things of the earth will leave you aching and/or empty as a fifth at sunrise.</p>

  <p>May these songs minister in ways mysterious and eternal, or at least maybe make you shake a hip.</p>

  <p>&mdash; <em>E. Earley</em></p>
</article>