<%- content_for :head do -%>
<meta property="fb:admins" content="100001588148513" />
<meta property="fb:page_id" content="19099288648" />
<meta property="og:title" content="VII by Blitzen Trapper"/>
<meta property="og:type" content="album"/>
<meta property="og:url" content="http://blitzentrapper.net/">
<meta property="og:site_name" content="Blitzen Trapper"/>
<meta property="og:image" content="http://24.media.tumblr.com/5b070bc65784ea72517857a8b3f36ead/tumblr_mqrhzzYONY1qc4fd0o1_500.jpg"/>
<meta name="description" content="Official website for Portland, Oregon based musical ensemble Blitzen Trapper. New album "VII" out October 1 on Vagrant Records.">
<meta name="keywords" content="music, blitzen trapper, vii, american goldwing, furr, field rexx, wild mountain nation, black river killer, band, portland, indie, vagrant records, lidkercow">
<%- end -%>

<!-- <div class="tour-callout">
  <%= link_to "Holiday Sale!", store_category_path('new') %>
</div> -->

<div id="home">
  <div class="left">
    <%= render :partial => 'blog/post', :collection => @blogposts %>
    <div class="blog-footer">
      <%= link_to "Next page", page_path(:page => 1), :class => 'blog-page-link' unless @lastpage %>
      <a href="http://feeds.feedburner.com/blitzentrapper">Subscribe to our RSS Feed &rarr;</a>
      <a href="http://tumblr.com/follow/blitzentrapper/">Follow us on Tumblr &rarr;</a>
    </div>
  </div>

  <ul class="right">
    <li>
      <h4>New Album 'VII' Out Now</h4>
      <img src="http://files.blitzentrapper.net/images/VII-small.jpg">
      <p style="text-align:center"><strong>Available Now</strong></p>
      <p style="text-align:center">Purchase On: <a href="http://smarturl.it/blitzentrappervii">iTunes</a> | <a href="http://smarturl.it/viiamazon">Amazon</a></p>
    </li>

    <% if !@shows.empty? %>
      <li>
        <h4>Upcoming Shows</h4>
        <% for show in @shows do %>
          <p>
            <strong><%= link_to show.venue, show %></strong>
            <span class="meta-line">
              <%= show.date.strftime('%b %d') %>
              <span class="meta"><%= "#{show.city}, #{show.region}" %></span>
            </span>
          </p>
        <% end %>
      </li>
    <% end %>

    <li>
      <h4>Follow Us</h4>
      <ul>
        <li><a href="http://facebook.com/blitzentrapper" target="_blank">Facebook &rarr;</a></li>
        <li><a href="http://twitter.com/blitzentrapper" target="_blank">Twitter &rarr;</a></li>
        <li><a href="http://instagram.com/blitzentrapper" target="_blank">Instagram &rarr;</a></li>
        <li><a href="http://youtube.com/blitzentrappa" target="_blank">YouTube &rarr;</a></li>
        <li><a href="http://soundcloud.com/blitzen-trapper" target="_blank">Soundcloud &rarr;</a></li>
        <li><a href="http://blitzentrapper.tumblr.com" target="_blank">Tumblr &rarr;</a></li>
        <li><a href="http://feeds.feedburner.com/blitzentrapper" target="_blank">RSS &rarr;</a></li>
      </ul>
    </li>

    <li>
      <h4>Active Forum Topics</h4>
      <% for topic in @topics do %>
        <p>
          <strong><%= link_to topic.title, topic %></strong>
          <span class="meta-line">
            <%= avatar(topic.posts.last.user, :tiny) %>
            <%= topic.posts.last.user.login %>
            <span class="meta"><a href="<%= topic_path(topic, :anchor => topic.posts.last.id) %>"><%= time_ago_in_words(topic.posts.last.created_at) %> ago</a></span>
          </span>
        </p>
      <% end %>
    </li>

    <li>
      <h4>Latest Show Posts</h4>
      <% for postedshow in @postedshows do %>
        <p>
          <strong><%= link_to postedshow.venue, postedshow %></strong>
          <span class="meta-line">
            <%= avatar(postedshow.posts.last.user, :tiny) %>
            <%= postedshow.posts.last.user.login %>
            <span class="meta"><%= time_ago_in_words(postedshow.posts.last.created_at) %> ago</span>
          </span>
        </p>
      <% end %>
    </li>

    <li>
      <h4>Tweets</h4>
      <a class="twitter-timeline" href="https://twitter.com/BlitzenTrapper" data-widget-id="308010139070373888">Tweets by @BlitzenTrapper</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>

    <li>
      <h4>Mailing List</h4>
      <div id="list-signup">
        <p id="list-signup-prompt">Sign up for the mailing list and get a free MP3 of "Thirsty Man"!</p>
        <p class='chunky-form'>
          <%= text_field_tag 'list-signup-email', nil, :placeholder => 'Email Address' %>
          <%= submit_tag 'Sign Up!', :id => 'list-signup-submit', :class => 'button' %>
        </p>
      </div>
    </li>
  </ul>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44375105-1', 'blitzentrapper.net');
  ga('send', 'pageview');

</script>
<!-- Google Code for Main List -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 981005467;
var google_conversion_label = "IkptCN3mgwYQm-nj0wM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/981005467/?value=0&amp;label=IkptCN3mgwYQm-nj0wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<script type="text/javascript" src="http://stratus.sc/stratus.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $.stratus({
      links: 'https://soundcloud.com/blitzen-trapper',
      color: 'fcbb55'
    });
   });
</script>
