<%- content_for :head do -%>
  <meta property="fb:admins" content="100001588148513" />
  <meta property="fb:page_id" content="19099288648" />
  <meta property="og:title" content="VII by Blitzen Trapper"/>
  <meta property="og:type" content="album"/>
  <meta property="og:url" content="http://blitzentrapper.net/">
  <meta property="og:site_name" content="Blitzen Trapper"/>
  <meta property="og:image" content="http://24.media.tumblr.com/5b070bc65784ea72517857a8b3f36ead/tumblr_mqrhzzYONY1qc4fd0o1_500.jpg"/>
  <meta name="description" content="Official website for Portland, Oregon based musical ensemble Blitzen Trapper. New album "VII" out October 1 on Vagrant Records.">
  <meta name="keywords" content="music, blitzen trapper, vii, american goldwing, furr, field rexx, wild mountain nation, black river killer, band, portland, indie, vagrant records, lidkercow">
<%- end -%>

<div class="home">
  <div class="home__content">
    <%= render partial: "blog/post", collection: @blogposts %>

    <ul class="home__blog-footer">
      <% unless @lastpage %>
        <li>
          <%= link_to "Next page", page_path(:page => 1) %>
        </li>
      <% end %>
      <li>
        <a href="http://feeds.feedburner.com/blitzentrapper">Subscribe to our RSS Feed &rarr;</a>
      </li>
      <li>
        <a href="http://tumblr.com/follow/blitzentrapper/">Follow us on Tumblr &rarr;</a>
      </li>
    </ul>
  </div>

  <aside class="home__sidebar">
    <div class="home__sidebar__section">
      <h2>Holy Smokes <br>Future Jokes</h2>
      <a href="https://yeproc.11spot.com/blitzen-trapper-holy-smokes-future-jokes.html"><%= image_tag "BlitzenTrapper_HolySmokesFutureJokes_COVER-350x350.jpg" %></a>
      <p><strong><a href="https://yeproc.11spot.com/blitzen-trapper-holy-smokes-future-jokes.html">Out 9/11/2020</a></strong></p>
    </div>

    <% if !@shows.empty? %>
      <div class="home__sidebar__section">
        <h2>Upcoming Shows</h2>
        <ul>
          <% for show in @shows do %>
            <li class="home__sidebar__list-item">
              <div>
                <strong><%= link_to show.venue, show %></strong>
              </div>
              <div class="home__sidebar__meta-line">
                <%= show.date.strftime('%b %d') %>
                <span class="meta"><%= "#{show.city}, #{show.region}" %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="home__sidebar__section">
      <h2>Follow Us</h2>
      <ul>
        <li><a href="http://facebook.com/blitzentrapper" target="_blank">Facebook</a></li>
        <li><a href="http://twitter.com/blitzentrapper" target="_blank">Twitter</a></li>
        <li><a href="http://instagram.com/blitzentrapper" target="_blank">Instagram</a></li>
        <li><a href="http://youtube.com/blitzentrappa" target="_blank">YouTube</a></li>
        <li><a href="http://soundcloud.com/blitzen-trapper" target="_blank">Soundcloud</a></li>
        <li><a href="http://blitzentrapper.tumblr.com" target="_blank">Tumblr</a></li>
        <li><a href="http://feeds.feedburner.com/blitzentrapper" target="_blank">RSS</a></li>
      </ul>
    </div>

    <div class="home__sidebar__section">
      <h2>Active Topics</h2>
      <ul>
        <% for topic in @topics do %>
          <li class="home__sidebar__list-item">
            <div>
              <strong><%= link_to topic.title, topic %></strong>
            </div>
            <div class="home__sidebar__meta-line">
              <%= avatar_image(topic.posts.last.user, :tiny) %>
              <%= topic.posts.last.user.login %>
              <span class="meta"><a href="<%= topic_path(topic, :anchor => topic.posts.last.id) %>"><%= time_ago_in_words(topic.posts.last.created_at) %> ago</a></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="home__sidebar__section">
      <h2>Latest Show Posts</h2>
      <ul>
        <% for postedshow in @postedshows do %>
          <li class="home__sidebar__list-item">
            <div>
              <strong><%= link_to postedshow.venue, postedshow %></strong>
            </div>
            <div class="home__sidebar__meta-line">
              <%= avatar_image(postedshow.posts.last.user, :tiny) %>
              <%= postedshow.posts.last.user.login %>
              <span class="meta"><%= time_ago_in_words(postedshow.posts.last.created_at) %> ago</span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="home__sidebar__section">
      <h2>Tweets</h2>
      <a class="twitter-timeline" href="https://twitter.com/BlitzenTrapper" data-widget-id="308010139070373888">Tweets by @BlitzenTrapper</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div class="home__sidebar__section">
      <h2>Mailing List</h2>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class="list-signup">
        <form action="//blitzentrapper.us16.list-manage.com/subscribe/post?u=ab5b797279f9a4a7d3adc43cc&amp;id=fcb7f3b5e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate home__sidebar__list-signup-form" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Subscribe to our mailing list!</label>
            <p class="list-signup-prompt">Here’s <a href="http://us16.campaign-archive1.com/home/?u=ab5b797279f9a4a7d3adc43cc&id=fcb7f3b5e6">the archive</a> in case you'd like to know what you're getting into first.</p>
            <input type="email" value="" name="EMAIL" class="email list-signup-email" id="mce-EMAIL" placeholder="Email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab5b797279f9a4a7d3adc43cc_fcb7f3b5e6" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </aside>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44375105-1', 'blitzentrapper.net');
  ga('send', 'pageview');

</script>
<!-- Google Code for Main List -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 981005467;
var google_conversion_label = "IkptCN3mgwYQm-nj0wM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/981005467/?value=0&amp;label=IkptCN3mgwYQm-nj0wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
