<%- content_for :head do -%>
<meta property="fb:admins" content="100001588148513" />
<meta property="fb:page_id" content="19099288648" />
<meta property="og:title" content="VII by Blitzen Trapper"/>
<meta property="og:type" content="album"/>
<meta property="og:url" content="http://blitzentrapper.net/">
<meta property="og:site_name" content="Blitzen Trapper"/>
<meta property="og:image" content="http://24.media.tumblr.com/5b070bc65784ea72517857a8b3f36ead/tumblr_mqrhzzYONY1qc4fd0o1_500.jpg"/>
<meta name="description" content="Official website for Portland, Oregon based musical ensemble Blitzen Trapper. New album "VII" out October 1 on Vagrant Records.">
<meta name="keywords" content="music, blitzen trapper, vii, american goldwing, furr, field rexx, wild mountain nation, black river killer, band, portland, indie, vagrant records, lidkercow">
<%- end -%>

<!-- <div class="tour-callout">
  <%= link_to "Holiday Sale!", store_category_path('new') %>
</div> -->

<div id="home">
  <div class="left">
    <%= render :partial => 'blog/post', :collection => @blogposts %>
    <div class="blog-footer">
      <%= link_to "Next page", page_path(:page => 1), :class => 'blog-page-link' unless @lastpage %>
      <a href="http://feeds.feedburner.com/blitzentrapper">Subscribe to our RSS Feed &rarr;</a>
      <a href="http://tumblr.com/follow/blitzentrapper/">Follow us on Tumblr &rarr;</a>
    </div>
  </div>

  <ul class="right">
    <li>
      <h4>New Album 'VII'</h4>
      <img src="http://files.blitzentrapper.net/images/VII-small.jpg">
      <p style="text-align:center"><strong>Available September 30th</strong></p>
	  <p style="text-align:center">Pre-Order On: <a href="http://smarturl.it/blitzentrappervii">iTunes</a> | <a href="http://smarturl.it/viiamazon">Amazon</a>
    </li>

    <% if !@shows.empty? %>
      <li>
        <h4>Upcoming Shows</h4>
        <% for show in @shows do %>
          <p>
            <strong><%= link_to show.venue, show %></strong>
            <span class="meta-line">
              <%= show.date.strftime('%b %d') %>
              <span class="meta"><%= "#{show.city}, #{show.region}" %></span>
            </span>
          </p>
        <% end %>
      </li>
    <% end %>

    <li>
      <h4>Follow Us</h4>
      <ul>
        <li><a href="http://facebook.com/blitzentrapper" target="_blank">Facebook &rarr;</a></li>
        <li><a href="http://twitter.com/blitzentrapper" target="_blank">Twitter &rarr;</a></li>
        <li><a href="http://youtube.com/blitzentrappa" target="_blank">YouTube &rarr;</a></li>
		<li><a href="http://soundcloud.com/blitzen-trapper" target="_blank">Soundcloud &rarr;</a></li>
        <li><a href="http://blitzentrapper.tumblr.com" target="_blank">Tumblr &rarr;</a></li>
		<li><a href="http://feeds.feedburner.com/blitzentrapper" target="_blank">RSS &rarr;</a></li>
        
		
      </ul>
    </li>

    <li>
      <h4>Active Forum Topics</h4>
      <% for topic in @topics do %>
        <p>
          <strong><%= link_to topic.title, topic %></strong>
          <span class="meta-line">
            <%= avatar(topic.posts.last.user, :tiny) %>
            <%= topic.posts.last.user.login %>
            <span class="meta"><a href="<%= topic_path(topic, :anchor => topic.posts.last.id) %>"><%= time_ago_in_words(topic.posts.last.created_at) %> ago</a></span>
          </span>
        </p>
      <% end %>
    </li>

    <li>
      <h4>Latest Show Posts</h4>
      <% for postedshow in @postedshows do %>
        <p>
          <strong><%= link_to postedshow.venue, postedshow %></strong>
          <span class="meta-line">
            <%= avatar(postedshow.posts.last.user, :tiny) %>
            <%= postedshow.posts.last.user.login %>
            <span class="meta"><%= time_ago_in_words(postedshow.posts.last.created_at) %> ago</span>
          </span>
        </p>
      <% end %>
    </li>

    <li>
      <h4>Tweets</h4>
      <a class="twitter-timeline" href="https://twitter.com/BlitzenTrapper" data-widget-id="308010139070373888">Tweets by @BlitzenTrapper</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>

    <li>
      <h4>Mailing List</h4>
      <p>
        Sign up for the mailing list and get a free MP3 of "American Goldwing"!
        <script type="text/javascript" src="http://cdn.topspin.net/javascripts/topspin_core.js?aId=2478&timestamp=1312058930"></script>
        <div class="topspin-widget topspin-widget-email-for-media">
          <object type="application/x-shockwave-flash" width="240" height="55" id="TSWidget90606" data="http://cdn.topspin.net/widgets/email2/swf/TSEmailMediaWidget.swf?timestamp=1312058930" bgColor="#000000"> <param value="always" name="allowScriptAccess" />
            <param name="allowfullscreen" value="true" />
            <param name="quality" value="high" />
            <param name="movie" value="http://cdn.topspin.net/widgets/email2/swf/TSEmailMediaWidget.swf?timestamp=1312058930" />
            <param name="flashvars" value="widget_id=http://cdn.topspin.net/api/v1/artist/2478/email_for_media/90606?timestamp=1312058930&amp;theme=white&amp;highlightColor=0xbd8b00&halign=left&hpadding=0&displayInitialScreen=false&hideinfo=true" />
          </object>
        </div>
      </p>
    </li>
  </ul>
</div>

<script type="text/javascript" src="http://stratus.sc/stratus.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $.stratus({
      links: 'https://soundcloud.com/vagrantrecords/blitzen-trapper-ever-loved-once',
      color: 'fcbb55'
    });
   });
</script>
