<% title "Home" %>

<div id="home">

	<div class="left">
	<% @blogposts['post'].each do |@post| %>
		<%= render :partial => 'blog/post' %>
	<% end %>
	</div>
	
	<div class="right">
	<div class="title">Latest Release</div>
	<%= link_to (image_tag 'covers/' + @latest_release.title.parameterize + '.jpg'), @latest_release %>
	<strong><%= link_to @latest_release.title, @latest_release %></strong><br /><br />

	<div class="title">Upcoming Shows</div>
	<% for show in @shows do %>
	<strong><%= link_to show.venue, show %></strong><br />
	<strong><%= show.date.strftime('%m/%d') %></strong> <%= "#{show.city}, #{show.region}" %><br /><br />
	<% end %>
		
	<div class="title">Latest Posts</div>
	<% for post in @posts do %>
	<strong><%= title_or_venue(post) %></strong><br />
	<%= image_tag post.user.avatar.url(:tiny), :height => "15px", :width => "15px" %><%= post.user.login %>, <%= time_ago_in_words(post.created_at) %> ago<br /><br />
	<% end %>
	</div>

</div>