<% title "Records" %>

<% for record in @records %>
<div class="<%= cycle("record", "record", "record last") %>">
	<%= link_to (image_tag record.cover.url(:medium), :width => "240px", :height => "240px"), record %>
  <%= link_to record.title, record %>
  <em><%=h record.release_date.strftime('%Y') %></em>
  <% if !record.buy_buttons.blank? %>
  	<span class="buy-buttons"><%= record.buy_buttons %></span>
  <% end %>
</div>
<% end %>
