<% title @record.title %>

<div class="record-show">

<div class="left">
	<%= image_tag 'covers/' + @record.title.parameterize + '-400.jpg' %>
	<%= @record.player %>
</div>

<div class="right">
	<h2><%=h @record.title %></h2>
	<span class="recordmeta">
	<strong><%=h @record.release_date.strftime('%B %d, %Y') %></strong>
	<%=h @record.label %>
	
	<span class="buy-buttons"><%= @record.buy_buttons %></span>
	</span>
	
	<div class="description"><%= @record.description %></div>
	
	<strong>Songs</strong>
	<ol>
	<%- for song in @record.songs -%>
		<li><%= song.title %></li>
	<%- end -%>
	</ol>
</div>

</div>
