<%= form_for @show do |f| %>
  <%= f.error_messages %>

  <ol id="setlistings">
    <% i = 0 %>
    <%= f.fields_for :setlistings do |tracklist_form| %>
      <%= content_tag_for :li, tracklist_form.object do %>
        <%= tracklist_form.hidden_field :position %>
        <%= tracklist_form.collection_select(:song_id, Song.all(:order => 'title'), :id, :title, {:prompt => "Pick a song", :include_blank => true}) %>
        <% if tracklist_form.object.song_id.blank? %>
          <%= tracklist_form.fields_for :song do |song_form| %>
            <%= song_form.text_field :title, :style => "display:none" %>
          <% end %>
        <% else %>
          <!-- render new song input for write-in if song_id is already set -->
          <input id="show_setlistings_attributes_<%= i %>_song_attributes_title" name="show[setlistings_attributes][<%= i %>][song_attributes][title]" size="30" style="display:none;" type="text">
        <% end %>
        <span class="handle">drag</span>
        <%= content_tag :span, :class => "edit_link", :id => i do %>
          <%= link_to "write in", "#", :class => "write-in-link", :id => i, :onclick => "return false;" %>
        <% end %>
      <% end %>

      <% if i == @show.encore - 1 %>
        <div class="encore">
          Encore
          <span class="handle">drag</span>
        </div>
      <% end %>
      <% i += 1 %>

    <% end %><!-- end tracklist form -->
  </ol>

  <%= f.hidden_field :encore %>
  <%= f.submit "Save Setlist", :class => "button" %>
<% end %>
