<% form_for @show do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :venue %><br />
    <%= f.text_field :venue %>
  </p>
  <p>
    <%= f.label :ticket_link %><br />
    <%= f.text_field :ticket_link %>
  </p>
  <p>
    <%= f.label :enddate %><br />
    <%= f.text_field :enddate %>
  </p>
  <p>
    <%= f.label :manual %><br />
    <%= f.check_box :manual %>
  </p>
  <p>
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </p>
  <p>
    <%= f.label :festival_dupe %><br />
    <%= f.check_box :festival_dupe, {}, "true", nil %>
  </p>
  <p>
    <%= f.label :status, "Available?" %><br />
    <%= f.check_box :status, {}, "available", "unavailable" %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  
  <% f.fields_for :setlistings do |setlist_form| %>
	<%= setlist_form.text_field :track_number, :size => 2 %>
  <%= setlist_form.collection_select(:song_id, Song.all(:order => 'title'), :id, :title, {:prompt => "Select song"}) %>
  <% if setlist_form.object.new_record? %>
  <% setlist_form.fields_for :song do |song_form| %>
    	or <%= song_form.text_field :title %>
  <% end %>
  <% end %>
  <% unless setlist_form.object.new_record? %>
  	<%= setlist_form.check_box '_delete' %>
  	<%= setlist_form.label '_delete', 'Remove' %>
  <% end %>
  <br />
  <% end %>
    
  <p><%= f.submit "Submit", :class => "button" %></p>
<% end %>
