<%= form_for @show do |f| %>
  <%= f.error_messages %>
  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :region, "State/Region" %>
  <%= f.text_field :region %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label :date %>
  <%= f.date_select :date, :start_year => 2000 %>

  <%= f.label :enddate, "End Date - optional" %>
  <%= f.date_select :enddate, :include_blank => true, :start_year => 2000 %>

  <%= f.label :venue %>
  <%= f.text_field :venue %>

  <%= f.label :ticket_link, "Ticket Link" %>
  <%= f.text_field :ticket_link %>

  <fieldset>
    <%= f.label :status, "Tickets Available?" %>
    <div class="field-description">The "Buy Tickets" link will be hidden if this is unchecked.</div>
    <%= f.check_box :status, {}, "available", "unavailable" %>
  </fieldset>

  <fieldset>
    <%= f.label :visible %>
    <%= f.check_box :visible %>
  </fieldset>

  <fieldset>
    <%= f.label :manual, "Preserve Manual Edits" %>
    <div class="field-description">Prevent your manual updates to this show (as entered on this page) from being overridden the next time shows are synced.</div>
    <%= f.check_box :manual %>
  </fieldset>

  <fieldset>
    <%= f.label :festival_dupe, "Festival Dupe" %>
    <div class="field-description">Check if this show is day 2 (or 3, 4, etc) of a multi-day festival, then make sure to set the "End Date" correctly on the edit page for the <strong>first</strong> day of the festival (IE not on this page). It will then show up as a single show that covers a date range, instead of a bunch of separate shows.</div>
    <%= f.check_box :festival_dupe %>
  </fieldset>

  <%= f.label :notes, "Show Notes - will be visible to users" %>
  <%= f.text_area :notes %>

  <%= f.submit "Submit", :class => "button" %>
<% end %>
