<% if @shows.length == 0 %>

	<div class="show">
		<div class="left">&nbsp;</div>
		<div class="right">No matching shows.</div>
	</div>

<% else %>

  <% for show in @shows %>
	<div class="show">
		<div class="left">&nbsp;</div>
		<div class="right">search results for <%= query %></div>
	</div>
	
  <div class="show">
  	<div class="left">
  		<h3>
      <% if show.enddate? %>
      <%= "#{show.date.strftime('%b %d')}<br> - #{show.enddate.strftime('%d')}" %>
      <%- else -%>
      <%= show.date.strftime('%b %d') %>
      <% end %>
      </h3>
      <strong><%= show.date.strftime('%Y') %></strong>
  	</div>
  	<div class="right">
	    <h3>
		    <%- link_to show do -%>
			     <%= show.venue %>
		    <%- end -%>
		  </h3>
		  <span class="city"><%= show.city %>, <%= show.region %></span>
	    <span class="showmeta">
	    <%= show.notes %>
	    </span>
	    <%- if show.status == "available" %>
	    <%= link_to "Buy Tickets", show.ticket_link, :target => "_blank" %>
	    <%- end -%>
  	</div>
  </div>
  <% end %>

<% end %>