<table>
<% for show in @shows do %>
<tr>
<td><%= show.date %></td>
<td style="padding-left:20px;"><strong><%= link_to show.venue, show %></strong></td>
<td style="padding-right:20px;"><%= show.city + ', ' + show.region %></td>
<td><%= link_to 'Edit', edit_show_path(show) %> | <%= link_to 'Delete', show, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>