<% title "Show Archive - #{@year}" %>

<%- content_for :subnav do -%>
  <%= render partial: "show_nav" %>

  <div class="header__subnav header__subnav--grid">
    <% for year in @years do %>
      <%= link_to_unless_current year, :controller => "shows", :action => "year", :year => year %>
    <% end %>
  </div>
<%- end -%>

<div class="shows-content">
  <h1><%= @year %></h1>

  <% if @shows_months.empty? %>
    <p>Woops, looks like we haven’t played any shows (yet!!) in <strong><%= @year %></strong>. Try selecting a different year.</p>
  <% else %>
    <% @shows_months.sort.each do |month, shows| %>
      <h2><%= month.strftime("%B") %></h2>

      <%= render partial: "shows_table", locals: { shows: shows } %>
    <% end %>
  <% end %>
</div>
