<% title "Show Archive - #{@title_date}" %>

<%- content_for :subnav do -%>
  <div class="header__subnav">
    <%= link_to("Upcoming Shows", shows_path) %>
    <div class="search">
      <%= label_tag "query", "Search" %>
      <%= text_field_tag "query", params[:query], :class => "live-search", "data-action" => url_for(:controller => "topics", :action => "search"), "data-target" => "#topics", :placeholder => "Topic Subject" %>
    </div>
  </div>
  <div class="header__subnav">
    <% for year in @years do %>
      <%= link_to_unless_current year, :controller => "shows", :action => "year", :year => year %>
    <% end %>
  </div>
<%- end -%>

<% if @shows.empty? %>
  <p>Woops, looks like we haven"t played any shows (yet!!) in <strong><%= @year %></strong>. Try selecting a different year on the left.</p>
<% else %>
  <table class="shows-table">
    <% for show in @shows %>
      <tr>
        <td>
          <strong><%= link_to show.venue, show %></strong>
          <% if !show.songs.blank? %>
            <span class="callout">setlist!</span>
          <% end %>
          <% if !show.notes.blank? %>
            <div>
              <%= show.notes %>
            </div>
          <% end %>
          <% if !show.posts.blank? %>
            <div>
              <em>last comment <%= time_ago_in_words(show.posts.last.created_at) %> ago by <%= show.posts.last.user.name %></em>
            </div>
          <% end %>
        </td>
        <td>
          <% if show.enddate? %>
            <%= show.date.strftime("%A, %b %d") %><br> -
            <%= show.enddate.strftime("%A, %b %d") %>
          <%- else -%>
            <%= show.date.strftime("%A, %b %d") %>
          <% end %>
        </td>
        <td>
          <%= show.city %>, <%= show_state_or_country(show) %>
        </td>
        <% if is_admin %>
          <td>
            <%= link_to "Edit", edit_show_path(show) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
