<% title "Shows" %>

<div id="shows">

<div id="archive-nav">
<%= link_to_unless_current "Future", shows_path %> - 
<%= link_to_unless_current "Past", archive_index_path %>
</div>

  <% for show in @shows %>
  <div class="show">
  	<div class="left">
  		<h3>
      <% if show.enddate? %>
      <%= "#{show.date.strftime('%b %d')}<br> - #{show.enddate.strftime('%d')}" %>
      <%- else -%>
      <%= show.date.strftime('%b %d') %>
      <% end %>
      </h3>
  	</div>
  	<div class="right">
	    <h3>
		    <%- link_to show do -%>
			     <%= show.venue %>
		    <%- end -%>
		  </h3>
		  <span class="city"><%= show.city %>, <%= show.region %></span>
	    <span class="showmeta">
	    <%= show.notes %>
	    <%= if !show.posts.blank? then content_tag :em, 'last comment ' + time_ago_in_words(show.posts.last.created_at) + ' ago by ' + show.posts.last.user.name end %>
	    <%= if !show.setlistings.blank? then content_tag :em, 'setlist updated ' + time_ago_in_words(show.setlistings.last.updated_at), :class => "setlist" end %>
	    </span>
	    <%- if show.status == "available" %>
	    <button type="button" class="btn"><span><span><%= link_to "Buy Tickets", show.ticket_link, :class => "ticket-button" %></span></span></button>
	    <%- end -%>
  	</div>
  </div>
  <% end %>
</div>
