<% title "Shows" %>

<%- content_for :subnav do -%>
  <div class="header__subnav">
    <%= link_to("Show Archive", archive_index_path) %>
    <div class="search">
      <%= label_tag "query", "Search" %>
      <%= text_field_tag "query", params[:query], :class => "live-search", "data-action" => url_for(:controller => "shows", :action => "search"), "data-target" => "#shows", :placeholder => "Venue or City" %>
    </div>
  </div>
<%- end -%>

<% @shows_months.sort.each do |month, shows| %>
  <h2><%= month.strftime("%B %Y") %></h2>

  <table class="shows-table">
    <% for show in shows %>
      <tr>
        <td>
          <strong><%= link_to show.venue, show %><strong>
          <div class="show-meta"><%= show.notes %></div>
        </td>
        <td>
          <% if show.enddate? %>
            <%= show.date.strftime("%A, %b %d") %><br> -
            <%= show.enddate.strftime("%A, %b %d") %>
          <%- else -%>
            <%= show.date.strftime("%A, %b %d") %>
          <% end %>
        </td>
        <td>
          <%= show.city %>, <%= show_state_or_country(show) %>
        </td>
        <td>
          <%- if show.status == "available" %>
            <%= link_to "Buy Tickets", show.ticket_link, :target => "_blank" %>
          <%- end -%>
        </td>
        <td>
          <% if is_admin %>
            <p><%= link_to "Edit Show", edit_show_path(show) %></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
