<% title "Shows" %>

<%- content_for :subnav do -%>
  <%= render partial: "show_nav" %>
<%- end -%>

<% @shows_months.sort.each do |month, shows| %>
  <h2><%= month.strftime("%B %Y") %></h2>

  <table class="shows-table">
    <% for show in shows %>
      <tr>
        <td>
          <strong><%= link_to show.venue, show %><strong>
          <div class="show-meta"><%= show.notes %></div>
        </td>
        <td>
          <% if show.enddate? %>
            <%= show.date.strftime("%A, %b %d") %><br> -
            <%= show.enddate.strftime("%A, %b %d") %>
          <%- else -%>
            <%= show.date.strftime("%A, %b %d") %>
          <% end %>
        </td>
        <td>
          <%= show.city %>, <%= show_state_or_country(show) %>
        </td>
        <td>
          <%- if show.status == "available" %>
            <%= link_to "Buy Tickets", show.ticket_link, :target => "_blank" %>
          <%- end -%>
        </td>
        <td>
          <% if is_admin %>
            <%= link_to "Edit Show", edit_show_path(show) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
