<%- content_for :head do -%>
  <%= tag(:meta, name: 'blitzen-setlist-data-show', content: @show.to_json(:include => { :setlistings => { :include => :song } })) %>
  <%= tag(:meta, name: 'blitzen-setlist-data-all-songs', content: Song.all.order(:title).to_json) %>
  <%= javascript_pack_tag 'Setlist' %>
<%- end -%>

<% title @show.venue + ' - ' + @show.date.strftime('%d/%m/%y') %>

<div class="shows-container archive-page">

  <%= render :partial => 'show_nav' %>

  <div class="shows">
    <div class="show">
      <div class="year left">
        <h3>
          <% if @show.enddate? %>
            <%= @show.date.strftime('%b %d') %><br> -
            <%= @show.enddate.strftime('%d') %>
          <%- else -%>
            <%= @show.date.strftime('%b %d') %>
          <% end %>
        </h3>
        <strong><%= @show.date.strftime('%Y') %></strong>
      </div><!-- .left -->

      <div class="right">
        <h1><%= @show.venue %></h1>
        <div class="city"><%= @show.city %>, <%= show_state_or_country(@show) %></div>
        <div class="show-meta"><%= @show.notes %></div>
        <%- if @show.status == "available" %>
          <%- unless @show.date < Date.today -%><%= link_to "Buy Tickets", @show.ticket_link, :target => "_blank" %><% end %>
        <%- end -%>
        <% if is_admin %>
          <p><%= link_to "Edit Show", edit_show_path(@show) %></p>
        <% end %>

        <div class="setlist"></div>

        <div class="showposts">
          <%= render :partial => "show_post", :collection => @show.posts %>
        </div>

        <% if current_user %>
          <%= form_for @show.posts.build, :html => { :class => "chunky-form" } do |f| %>
            <%= f.error_messages %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :postable_id %>
            <%= f.hidden_field :postable_type %>
            <%= f.label :body, "Say something about this show" %>
            <%= f.hidden_field :body, :id => "post-body-input" %>
            <trix-editor class="trix-content" input="post-body-input"></trix-editor>
            <div class="post-actions">
              <%= f.submit "Submit", :class => "button post-actions__button" %>
              <div class="postmeta post-actions__hint">
                <strong>Pro-tip:</strong> You can add images by dragging them onto the post form!
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="signup">
            <p>Log in to post comments and add/edit the tracklist on this show!</p>
            <%= render :partial => 'users/buttons' %>
          </div>
        <% end %>
      </div><!-- .right -->
    </div><!-- .show -->
  </div><!-- #shows -->

</div><!-- #shows-container -->
