<% title @show.venue + ' - ' + @show.date.strftime('%d/%m/%y') %>

<div id="shows" class="archive-page">

<div id="archive-nav">
<%= link_to_unless_current "Future", shows_path %> - 
<%= link_to_unless_current "Past", archive_index_path %>
</div>
	
<div class="show">
	<div class="year left">
		<h3><%= @show.date.strftime('%b %d') %></h3>
		<strong><%= @show.date.strftime('%Y') %></strong>
	</div>
		
	<div class="right">
    <h3><%= @show.venue %></h3>
	  <span class="city"><%= @show.city %>, <%= @show.region %></span>
	  <span class="showmeta">
    <%= @show.notes %>
	  </span>

<% if current_user %>	
	<% form_for @show do |f| %>
	<%= f.error_messages %>
	
		<% f.fields_for :posts do |post_form| %>
		  <%= post_form.hidden_field :user_id, :value => current_user.id %>
			<%= post_form.hidden_field :postable_id %>
			<%= post_form.hidden_field :postable_type %>
		  <%= post_form.label "Say something about this show" %>
		  <%= post_form.text_area :body %>
	  <% end %>
	
		<strong>Add or edit the setlist for this show</strong>	
	  <% f.fields_for :setlistings do |tracklist_form| %>
	  	<%= tracklist_form.text_field :track_number, :size => 2 %>
		  <%= tracklist_form.collection_select(:song_id, Song.all(:order => 'title'), :id, :title, {:prompt => "Pick a song"}) %><br>
	  <% end %>

	  <p><%= f.submit %></p>
	  <% end %>
<% else %>
<p>Log in to post stuff on this show!</p>
<% end %>
	</div>
</div>
  
</div>
