<% title @show.venue + ' - ' + @show.date.strftime('%d/%m/%y') %>

<div id="shows-container" class="archive-page">

<%= render :partial => 'shownav' %>

<div id="shows">
	
<div class="show">
	<div class="year left">
		<h3><%= @show.date.strftime('%b %d') %></h3>
		<strong><%= @show.date.strftime('%Y') %></strong>
	</div>
		
	<div class="right">
    <h3><%= @show.venue %></h3>
	  <span class="city"><%= @show.city %>, <%= @show.region %></span>
	  <span class="showmeta">
    <%= @show.notes %>
    <%- if @show.status == "available" %>
    <%= link_to "Buy Tickets", @show.ticket_link, :target => "_blank" %>
    <%- end -%>
	  </span>
	  
	  <div class="show-posts">
	  <% for post in @show.posts %>
	  	<% if !post.new_record? %>
	  	<div class="show-post">
	  			<%= avatar(post.user, :tiny) %>
	  			<strong><%= link_to post.user.name, post.user %></strong>
	  			<span class="showmeta"><em><%= time_ago_in_words(post.created_at) %> ago</em></span>
	  			<p><%= auto_link(post.body, :all, :target => "_blank") %></p>
	  			<% if current_user %>
				  <% if current_user.login == post.user.login || current_user.login == 'Matt' %>
					  <p><%= link_to "edit", edit_post_path(:id => post.id) %> | 
					  <%= link_to "delete", post, :confirm => 'Are you sure?', :method => :delete %></p>
					<% end %>
				  <% end %>
	  	</div>
	  	<% end %>
	  <% end %>
	  </div>

<% if current_user %>	
	<% form_for @show do |f| %>
	<%= f.error_messages %>
	
		<% f.fields_for :posts do |post_form| %>		
			<% if post_form.object.new_record? %>
			  <%= post_form.hidden_field :user_id, :value => current_user.id %>
				<%= post_form.hidden_field :postable_id %>
				<%= post_form.hidden_field :postable_type %>
			  <%= post_form.label "Say something about this show" %>
			  <%= post_form.text_area :body %>
		  <% end %>
	  <% end %>
		
		<% if @show.past? && @show.setlistings.length != 0 %>
		<strong>Add or edit the setlist for this show</strong>
		<div class="tracklist">
	  <% f.fields_for :setlistings do |tracklist_form| %>
	  	<%= tracklist_form.text_field :track_number, :size => 2, :class => "tracknumber" %>
		  <%= tracklist_form.collection_select(:song_id, Song.all(:order => 'title'), :id, :title, {:prompt => "Pick a song"}) %><br>
	  <% end %>
	  </div>
	  <% end %>

	  <%= f.submit "Submit", :class => "button" %>
	  <% end %>
<% else %>

<% if @show.setlistings.length > 25 %>
<div class="setlist">
<strong>Setlist</strong>
<ol>
<% for setlisting in @show.setlistings %>
	<% if !setlisting.new_record? %>
		<li><%= setlisting.song.title %></li>
	<% end %>
<% end %>
</ol>
</div>
<% end %>

<div id="signup">
<p>Log in to post comments and add/edit the tracklist on this show!</p>
<%= render :partial => 'users/buttons' %>
</div>

<% end %>
	</div>
</div>
  
</div>
