<% title @show.venue + ' - ' + @show.date.strftime('%d/%m/%y') %>

<div id="shows" class="archive-page">

<div id="archive-nav">
<%= link_to_unless_current "Future", shows_path %> - 
<%= link_to_unless_current "Past", archive_index_path %>
</div>
	
<div class="show">
	<div class="year left">
		<h3><%= @show.date.strftime('%b %d') %></h3>
		<strong><%= @show.date.strftime('%Y') %></strong>
	</div>
		
	<div class="right">
    <h3><%= @show.venue %></h3>
	  <span class="city"><%= @show.city %>, <%= @show.region %></span>
	  <span class="showmeta">
    <%= @show.notes %>
	  </span>
	
	<% form_for @show do |f| %>
	<%= f.error_messages %>
	
		<% f.fields_for :posts do |post_form| %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :postable_id %>
			<%= f.hidden_field :postable_type %>
		  <%= f.label :body %>
		  <%= f.text_area :body %>
	  <% end %>
	
	  <% f.fields_for :setlistings do |tracklist_form| %>
	  	<%= tracklist_form.text_field :track_number, :size => 2 %>
	  	
		  <% tracklist_form.fields_for :song do |song_form| %>
		    	<%= song_form.text_field :title %>
	    <% end %>
	    
	    <% if tracklist_form.object.new_record? %>
		    or <%= tracklist_form.collection_select(:song_id, Song.all(:order => 'title'), :id, :title, {:prompt => "Select existing song"}) %>
	    <% end %>
	    
	    <% unless tracklist_form.object.new_record? %>
	  		<%= tracklist_form.check_box '_delete' %>
	  		<%= tracklist_form.label '_delete', 'Remove' %>
	  	<% end %>
	  	
	  <% end %>
	  <%= f.submit %>
	  <% end %>
	</div>
</div>
  
</div>
