<% title @show.venue + ' - ' + @show.date.strftime('%d/%m/%y') %>

<div id="shows-container" class="archive-page">

<%= render :partial => 'shownav' %>

<div id="shows">
	
<div class="show">
	<div class="year left">
		<h3><%= @show.date.strftime('%b %d') %></h3>
		<strong><%= @show.date.strftime('%Y') %></strong>
	</div>
		
	<div class="right">
    <h3><%= @show.venue %></h3>
	  <span class="city"><%= @show.city %>, <%= @show.region %></span>
	  <span class="showmeta">
    <%= @show.notes %>
    <%- if @show.status == "available" %>
    <%= link_to "Buy Tickets", @show.ticket_link, :target => "_blank" %>
    <%- end -%>
	  </span>
	  
	  <% for post in @show.posts %>
	  	<% if !post.new_record? %>
	  	<div class="show-post">
	  			<%= link_to (image_tag post.user.avatar.url(:tiny)), post.user %>
	  			<strong><%= link_to post.user.name, post.user %></strong>
	  			<span class="showmeta"><%= time_ago_in_words(post.created_at) %> ago</span>
	  			<p><%= post.body %></p>
	  	</div>
	  	<% end %>
	  <% end %>

<% if current_user %>	
	<% form_for @show do |f| %>
	<%= f.error_messages %>
	
		<% f.fields_for :posts do |post_form| %>		
			<% if post_form.object.new_record? %>
			  <%= post_form.hidden_field :user_id, :value => current_user.id %>
				<%= post_form.hidden_field :postable_id %>
				<%= post_form.hidden_field :postable_type %>
			  <%= post_form.label "Say something about this show" %>
			  <%= post_form.text_area :body %>
		  <% end %>
	  <% end %>
		
		<% if @show.past? && @show.setlistings.length != 0 %>
		<strong>Add or edit the setlist for this show</strong>
		<div class="tracklist">
	  <% f.fields_for :setlistings do |tracklist_form| %>
	  	<%= tracklist_form.text_field :track_number, :size => 2, :class => "tracknumber" %>
		  <%= tracklist_form.collection_select(:song_id, Song.all(:order => 'title'), :id, :title, {:prompt => "Pick a song"}) %><br>
	  <% end %>
	  </div>
	  <% end %>

	  <%= f.submit "Submit", :class => "button" %>
	  <% end %>
<% else %>

<div id="signup">
<p>Log in to post comments and add/edit the tracklist on this show!</p>

<%= link_to "Sign In", login_path, :returnto => show_path(@show) %>
<%= link_to "Create Account", signup_path %>
</div>

<% end %>
	</div>
</div>
  
</div>
