<div class="item-detail-image-column">
	<%= link_to (image_tag product_detail['small_image_url']), product_detail['large_image_url'], :class => 'item-detail-image-medium item-detail-image-main', :id => "item_image_0", :rel => 'gallery' %>
	
	<% product_detail['campaign']['product']['images'].each_with_index do |image, i| %>
		<% if i > 0 # skip first image %>
			<%= link_to (image_tag image['medium_url'], :title => image['description']), image['source_url'], :class => 'item-detail-image-medium', :id => "item_image_#{i}", :rel => 'gallery' %>
		<% end %>
	<% end %>
	
	<% if product_detail['campaign']['product']['images'].length > 1 %>
		<ul class="item-detail-images group">
			<% product_detail['campaign']['product']['images'].each_with_index do |image, i| %>
				<li class="<%= cycle("first", "", "last") %>">
					<%= link_to (image_tag image['small_url'], :title => image['description']), image['source_url'], :class => 'item-detail-image-small', 'data-target-image' => "#item_image_#{i}" %>
				</li>
			<% end %>
		</ul> 
	<% end %>
	
	<% if product_detail['streaming_player'] %>
		<%= raw get_v1_player(product_detail['streaming_player']) %>
	<% end %>
	
</div>

<div class="item-detail-info-column">
	<h3><%= product_detail['name'] %></h3>
	
	<%= raw product_detail['embed_code'] %>
	
	<p><%= product_detail['description'] %></p>
	
	<%= render_product_attributes(product_detail['campaign']['product']) %>
</div>