<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %> - Blitzen Trapper</title>
    <meta name=description content="Official website for Portland, Oregon based musical ensemble Blitzen Trapper.  Trapper takes the score."> 
		<meta name=keywords content="music, blitzen trapper, furr, field rexx, wild mountain nation, black river killer, band, portland, indie, sub pop, lidkercow"> 
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery', 'nested_form' %>
    <%= include_tiny_mce_if_needed %>
    <%= yield(:head) %>
  </head>
  <body>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-212236-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	</script>
    <div id="container">
    <div id="inner">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <div id="header">
      <%= link_to (image_tag "/images/headerlogo.gif"), :controller => :home	 %>
      <div id="nav">
      <h1><%= link_to "Shows", :controller => :shows %></h1> | 
      <h1><%= link_to "Records", :controller => :records %></h1> |  
      <h1><%= link_to "Forum", :controller => :topics	 %></h1>
      </div>
      </div>
      
      <%= yield %>
    </div>
    </div>
    <p style="float:left; clear: left; width:100%;">&nbsp;</p>
  </body>
</html>
