<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) %>Blitzen Trapper</title>
  <meta name="description" content="Official website for Portland, Oregon based musical ensemble Blitzen Trapper. New album 'VII' out October 1 on Vagrant Records.">
  <meta name="keywords" content="music, blitzen trapper, vii, american goldwing, furr, field rexx, wild mountain nation, black river killer, band, portland, indie, vagrant records, lidkercow">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag(:rss, "http://feeds.feedburner.com/blitzentrapper", {:title => "Blitzen Trapper News"}) %>
  <%= yield(:head) %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-212236-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body class="<%= controller.controller_name %>-body <%= controller.controller_name %>-<%= controller.action_name %>-body">

  <div id="container">
    <div id="inner">

      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <% if current_user %>
        <div id="userbar">
          <%= avatar(current_user, :tiny) %>
          Signed in as <strong><%= link_to current_user.name, user_path(current_user) %></strong> (<!--
          <% if is_admin %>
            --><%= link_to "shows admin", shows_admin_path, :class => "user-action" %> -
            <%= link_to "add new record", new_record_path, :class => "user-action" %> -
          <% end %>
          <%= link_to "log out", logout_path, :class => "user-action" %>)
        </div>
      <% end %>

      <div id="header">
        <a href="/"><h1>Blitzen Trapper</h1></a>
        <ul id="nav">
          <li><%= link_to "Shows", shows_path -%></li>
          <li><%= link_to "Records", records_path -%></li>
          <li><%= link_to "Store", store_category_path('new') -%></li>
          <li><%= link_to "Forum", topics_path -%></li>
          <li><%= link_to "Videos", '/videos' -%></li>
          <li class="last"><%= link_to "Contact", contact_path -%></li>
        </ul>
      </div>

      <%= yield %>
    </div>
  </div>
  <p style="float:left; clear: left; width:100%;">&nbsp;</p>
</body>
</html>
